.tl-wrapper
  ul.timeline
    li(data-year="1981").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1988").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1989").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!
          
    li(data-year="1990").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!
          
    li(data-year="1991").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1992").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1993").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1994").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1995").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1996").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1997").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1998").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="1999").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2000").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2001").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2002").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2003").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2004").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2005").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2006").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2007").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!

    li(data-year="2008").tl-item
      .tl-image
        img(src=" http://placehold.it/1650x1000/")
      .tl-copy
        h3.title
          | Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens!
        .tl-description
          p Aw, you're all Mr. Grumpy Face today. No&hellip; It's a thing; it's like a plan, but with more greatness. They're not aliens, they're Earth&hellip;liens! Sorry, checking all the water in this area; there's an escaped fish. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong? You've swallowed a planet!